<!DOCTYPE html>
<html>
<head>
    <title>Reddit Keyword Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-start">
            <a class="navbar-brand" href="/">Reddit Search API</a>
            <a class="navbar-brand" href="/youtube/youtue_search">YouTube</a>
            <a class="navbar-brand" href="/twitter/twitter_search">Twitter</a>
            <a class="navbar-brand" href="/">Analysis (coming)</a>
        </div>
    </nav>

    <h1>Reddit Users</h1>
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>
</body>
</html>